<?xml version="1.0"?>

<model>
  <name>Acoustic Foam</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Austin Lu</name>
    <email>austinl8@illinois.edu</email>
  </author>

  <description>A single panel of acoustic foam, used to create anechoic chambers. Large.</description>
</model>
