<?xml version="1.0"?>

<model>
  <name>Thin Acoustic Foam 1x6 set</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Austin Lu</name>
    <email>austinl8@illinois.edu</email>
  </author>

  <description>An arrangement of large, thin acoustic foam panels, used to create anechoic chambers.</description>
</model>
