<?xml version="1.0" ?>
<model>
    <name>B10</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Austin Lu</name>
        <email>austinl8@illinois.edu</email>
    </author>
    <description>A model of the Illinois Augmented Listening Laboratory, located in room B10 of CSL, UIUC, Illinois,
    USA, Earth, Milky Way, ...</description>
</model>
