<?xml version="1.0"?>

<model>
  <name>JBL 5in</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Austin Lu</name>
    <email>austinl8@illinois.edu</email>
  </author>

  <description>A rough analog of the 305P MkII JBL studio monitor https://jblpro.com/en/products/305p-mkii</description>
</model>
